@model YouFlyModels.User
@{
    ViewData["Title"] = "Create User";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <h1 style="color:#000000"><b>Create New User</b></h1>
    </div>
</div>
<div class="jumbotron">
    <div class="panel-heading">
        <form asp-action="Create">
            <div class="form-horizontal">
                <hr style="height: 3px;color: #27aae1;background: #27aae1;" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" style="color:#000000" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" required type="email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" style="color:#000000" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" type="password" required/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="IsAdmin" />
                            <label style="color:#000000" asp-for="IsAdmin"><b>Admin Status</b></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" align="center">
                        <b style="color:#000000">| </b><a style="color:white" class="btn btn-success" asp-action="Index">Back to List</a><b style="color:#000000"> |</b>
                        <b style="color:#000000"> | </b><input type="submit" value="Create" class="btn btn-primary" /><b style="color:#000000"> |</b>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr style="height: 3px;color: #27aae1;background: #27aae1;" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
