@model YouFlyModels.User
@{
    ViewData["Title"] = "Delete User";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <h1 style="color:#000000"><b>Delete Existing User</b></h1>
    </div>
</div>
<hr style="height: 3px;color: #27aae1;background: #27aae1;" />
<div class="jumbotron">
    <div class="panel-heading">
        <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">Delete User? <br /> Are you sure you want to delete this user?</a>
        </div>
        <div>
            <hr />
            <table class="table">
                <thead style="color:#000000">
                    <tr class="dl-horizontal">
                        <th style="color:#000000">
                            <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                        </th>
                        <th style="color:#000000">
                            <strong>@Html.DisplayFor(model => model.Email)</strong>
                        </th>
                        <th>
                            <input asp-for="IsAdmin" />
                            <label style="color:#000000" asp-for="IsAdmin"><b>Admin Status</b></label>
                        </th>
                    </tr>
                </thead>
            </table>

            <form asp-action="Delete">
                <div class="form-actions no-color">
                    <b style="color:#000000">| </b><input type="submit" value="Confirm Delete" class="btn btn-danger" />
                    <b style="color:#000000">| </b><a style="color:white" class="btn btn-success" asp-action="Index">Back to List</a><b style="color:#000000"> |</b>
                </div>
            </form>
        </div>
    </div>
</div>
