@model IEnumerable<YouFlyModels.User>
@{
    ViewData["Title"] = "Users";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <p>
            <a style="color:red" span class="glyphicon glyphicon-pencil" asp-action="Create"></a><b style="color:#000000"> Add New User Here</b>
        </p>
    </div>
</div>
<hr style="height: 3px;color: #27aae1;background: #27aae1;" />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Email)</strong>
            </th>
            <th>
                <b>Admin Status</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td text-align="center">
                    <b style="color:#000000">| </b><a text-align="center" style="color:#ffffff" class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a><b style="color:#000000"> |</b>
                    <a text-align="center" style="color:#ffffff" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a><b style="color:#000000"> |</b>
                </td>
            </tr>
        }
    </tbody>
</table>
