<div class="container">
  <div class="jumbotron" style="background-color:white;">
    <div>
      <img class="logo" src="http://i65.tinypic.com/2qnw84l.png" alt="You Fly" width="304" height="236">
    </div>
    <nav class="navbar navbar-default center" role="navigation">
      <div class="navBar">
        <div class="navbar-inner">
          <div class="navbar-header">
          </div>
          <ul class="nav navbar-nav center">
            <li><a class="link" routerLink="/flights-list" routerLinkActive="active">Search Flights</a></li>
            <li><a class="link" routerLink="/register-user" routerLinkActive="active">Register</a></li>
            <li><a class="link" routerLink="/sign-in" routerLinkActive="active" *ngIf="!loggedIn">Sign In</a></li>
            <li><a class="link" routerLink="/logout" routerLinkActive="active" *ngIf="loggedIn">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
