.logo {
  position: relative;
  left: 50%;
  margin-left: -150px;
}
a {
    color: blue;
}
.link{
    color: blue;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}