<form class="form-horizontal" role="form">
  <h2>Register</h2>
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input #email type="email" id="email" placeholder="Email" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input #password type="password" id="password" placeholder="Password" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-9">
      <input #confirmPass type="password" id="password" placeholder="Password" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-default" (click)="confirmPassword(email.value, password.value, confirmPass.value)">Register</button>
    </div>
  </div>
  <div id="passwordDoNotMatch" style="visibility:hidden">
    <font color="red">Passwords do not match.</font>
  </div>
  <div id="error" style="visibility:hidden">
    <font color="red">Wrong or incomplete fields.</font>
  </div>

</form>
