.container {
    padding: 16px;
}
.regLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
}
.regInput {
    display: inline-block;
    float: left;
}
.submitButton{
    position: fixed;
    top: 35%;
    display: block;
}

