﻿@model YouFlyModels.User
@{
    ViewBag.Title = "Landing";
}
<center>
    <div class="panel panel-info">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <div class="alert alert-info" role="alert">
            <strong style="color:#000">Welcome Back! Admin Panel</strong>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="panel panel-info">
        <div style="color:#000" class="panel-heading"><b>Select the following Routes, Users, or Purchases below to get started</b></div>
        <div class="panel-body">
            <b style="color:#000000">| </b><input class="btn btn-info" value="Routes" onclick="location.href='@Url.Action("Index", "Routes")'" />
            <b style="color:#000000">| </b><input class="btn btn-info" value="Users" onclick="location.href='@Url.Action("Index", "Users")'" />
            <b style="color:#000000">| </b><input class="btn btn-info" value="Purchases" onclick="location.href='@Url.Action("Index", "Purchases")'" /><b style="color:#000000"> |</b>
        </div>
    </div>

</center>
