﻿@model YouFlyModels.User
@{
    ViewBag.Title = "Login";

}
<script>

</script>
<center>
    <div class="container">
        <header>
            <a href="" target="_blank"><img src="http://i65.tinypic.com/2u74yhi.jpg" alt="youFly Logo Image" border="0" width="288" height="261" /></a>
            <hr>
        </header>
    </div>
</center>

<center>
    <section>
        <div id="container_d">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form class="form-horizontal" method="post" asp-controller="Home" asp-action="LoginAccount" autocomplete="on">
                        <div asp-validation-summary="ModelOnly"></div>
                        <p>
                            <label style="color:#000000" for="username" class="uname"> Your email or username </label>
                            <input class="form-control" asp-for="Email" placeholder="Username" required type="text" />
                            <span asp-validation-for="Email"></span>
                        </p>
                        <p>
                            <label style="color:#000000" for="password" class="youpasswd"> Your password </label>
                            <input class="form-control" asp-for="Password" placeholder="Password" id="password" required type="password" />
                            <span asp-validation-for="Password"></span>
                        </p>
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <div class="form-group">
                            <p class="login button"></p>
                            <input class="btn btn-info" type="submit" value="Login" />
                            <p class="change_link">
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</center>
