<div #checkout>
  <br>
  <div id="error" style="visibility:hidden">
    <font color="red">Wrong or incomplete fields.</font>
  </div>
  <br> Card type<br>
  <input type="radio" name="cc" checked> Visa
  <input type="radio" name="cc"> Mastercard
  <input type="radio" name="cc"> American Express<br><br> Credit Card Number<br>
  <input #card1 (keyup)="onKey($event)" type=text on- maxlength="4" size="4" id="card"> -
  <input #card2 (keyup)="onKey($event)" type=text on- maxlength="4" size="4" id="card"> -
  <input #card3 (keyup)="onKey($event)" type=text on- maxlength="4" size="4" id="card"> -
  <input #card4 (keyup)="onKey($event)" type=text on- maxlength="4" size="4" id="card">
  <br>
  <br> Security Code:
  <input #code type=text maxlength="3" size="3" id="securitycode"><br>
  <br> Expiration Date:
  <select #month id="month">
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select>
  <select #year id="year" ng-model="yearNg">
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  <option value="2025">2025</option>
</select><br><br> Name on Card<br>
  <input #name type="text" id="name"><br><br>
  <button (click)="finalize(card1.value, 
                          card2.value, 
                          card3.value, 
                          card4.value,
                          code.value, 
                          month.value, 
                          year.value, 
                          name.value)">Submit</button>
  <form method="post" id="sent" action="mailto:jacob.borel@selu.edu?Subject=Hello%20again">

    <input type="submit" id="send" routerLink="thankyou" routerLinkActive="active" style="visibility: hidden">
  </form>
</div>
