<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
  <h2>Search Routes</h2>
  <div class="container">
    <label class="regLabel">From:</label>
    <ng2-completer #from [(ngModel)]="fromSearch" [datasource]="dataSource" [minSearchLength]="0" (keyup)="onKey(from.value)"></ng2-completer>
    <br>
    <label class="regLabel">To:</label>
    <ng2-completer #to [(ngModel)]="toSearch" [datasource]="dataSource" [minSearchLength]="0" (keyup)="onKey(to.value)"></ng2-completer>
  </div>
</div>
<br>
<div>
  <select #selectedSearchType class="form-control" (change)="getValueFromSelect(selectedSearchType.value)">
  <option *ngFor="let searchType of searchTypes" [value]="searchType.id">
    {{searchType.name}}
  </option>
</select>
</div>
<br>
<button #searchRoutes class="btn btn-primary btn-default" (click)="searchForRoute(from.value, to.value)">Search</button>
<div id="error" style="visibility:hidden">
  <font color="blue">Sorry, this route doesn't exist. Here is the closest route to your destination</font>
</div>
<div class="dropdown">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let route of routeStrings; let i = index">
      {{route}}
      <button #getTickets class="btn btn-primary btn-default" [routerLink]="['/purchase-details', this.routeIdList[i]]" routerLinkActtive="active"
        (click)="checkLoggedIn()">Get Tickets</button>
    </li>
  </ul>
</div>
