.container {
  padding: 16px;
}

.regLabel {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
}

.regInput {
  display: inline-block;
  float: left;
}

.submitButton {
  position: fixed;
  top: 30%;
  display: block;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn btn-lg btn-primary btn-default {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
