<form class="form-horizontal" role="form">
  <h2>Sign In</h2>
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input #email type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <button class="btn btn-primary btn-default" type="submit" (click)="signIn(email.value, password.value)">Sign in</button>
    </div>
  </div>
  <div id="error" style="visibility:hidden">
    <font color="red">Log in failed. Try again.</font>
  </div>

</form>
