<h2>Tickets</h2>

<div *ngIf="!checkingOut">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="First Name" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-9">
        <input #firstName [(ngModel)]="fName" class="form-control" placeholder="First Name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="First Name" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-9">
        <input #lastName [(ngModel)]="lName" class="form-control" placeholder="Last Name" required>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h3>Available Seats:</h3>{{BizSeatsLeft}} (Business)<br> {{FirstSeatsLeft}} (First Class)
    <p>
      <h3>Which class?</h3>
      <input #isFirstClass type="radio" name="seatClass" value="first" checked> First Class ${{FirstClassCost}}.00 <br>
      <input type="radio" name="seatClass" value="business" checked> Business Class ${{BizClassCost}}.00<br> <br>
      <div>
        <h3>Total Price: ${{purchasePrice}}.00</h3>
      </div>

      <button (click)="getTicketInfo(firstName.value, lastName.value, isFirstClass.checked ); clearFields()">Next</button>
      <button (click)="isCheckingOut()">Complete Purchase</button>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ticket of tickets">
          {{ticket.IsFirstClass?'First Class':'Business'}} ticket for {{ticket.OccupantFirstName}} {{ticket.OccupantLastName}}.
        </li>
      </ul>
      <br>
  </div>
</div>
<div #checkout *ngIf="checkingOut">
  <br>
  <div id="error" style="visibility:hidden">
    <font color="red">Wrong or incomplete fields.</font>
  </div>
  <br> Card type<br>
  <div>
    <input type="radio" name="cc" checked> Visa
    <input type="radio" name="cc"> Mastercard
    <input type="radio" name="cc"> American Express<br><br> Credit Card Number<br>
  </div>
  <input #card1 (keyup)="onCardKey($event)" type=text on- maxlength="4" size="4" id="card"> -
  <input #card2 (keyup)="onCardKey($event)" type=text on- maxlength="4" size="4" id="card"> -
  <input #card3 (keyup)="onCardKey($event)" type=text on- maxlength="4" size="4" id="card"> -
  <input #card4 (keyup)="onCardKey($event)" type=text on- maxlength="4" size="4" id="card">
  <br>
  <br> Security Code:
  <input #code type=text maxlength="3" size="3" id="securitycode"><br>
  <br> Expiration Date:
  <select #month id="month">
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select>
  <select #year id="year" ng-model="yearNg">
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  <option value="2025">2025</option>
</select><br><br> Name on Card<br>
  <input #name type="text" id="name"><br><br>
  <button (click)="finalize(card1.value, 
                          card2.value, 
                          card3.value, 
                          card4.value,
                          code.value, 
                          month.value, 
                          year.value, 
                          name.value)">Submit</button>
  <form method="post" id="sent" action="mailto:jacob.borel@selu.edu?Subject=Hello%20again">

<input (click)="completePurchase(tickets)" [routerLink]="['/thankyou', this.conNUm]" routerLinkActtive="active" type="submit" id="send" routerLink="thankyou" routerLinkActive="active" style="visibility: hidden">

  </form>
</div>
