@model YouFlyModels.Route
@{
    ViewData["Title"] = "Delete";
}

<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="container logo-nav">
                <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
            </div>
            <h1 style="color:#000000"><b>Delete Existing Route</b></h1>
        </div>
    </div>
    <hr style="height: 3px;color: #27aae1;background: #27aae1;" />
    <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">Are you sure you want to delete this route?</a>
    </div>
    <table class="table">
        <tr style="color:#000000" class="dl-horizontal">
            <td>
                From IATA Code
            </td>
            <td>
                @Html.DisplayFor(model => model.FromAirportId)
            </td>
        </tr>
        <tr>
            <td>
                To IATA Code
            </td>
            <td>
                @Html.DisplayFor(model => model.ToAirportId)
            </td>
        </tr>
        <tr>
            <td>
                First Class Seat Count
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstClassSeatCount)
            </td>
        </tr>
        <tr>
            <td>
                Business Class Seat Count
            </td>
            <td>
                @Html.DisplayFor(model => model.BusinessClassSeatCount)
            </td>
        </tr>
        <tr>
            <td>
                First Class Cost
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstClassCost)
            </td>
        </tr>
        <tr>
            <td>
                Business Class Cost
            </td>
            <td>
                @Html.DisplayFor(model => model.BusinessClassCost)
            </td>
        </tr>
        <tr>
            <td>
                Day of Week
            </td>
            <td>
                @Html.DisplayFor(model => model.DayOfWeek)
            </td>
        </tr>
        <tr>
            <td>
                Time of Day
            </td>
            <td>
                @Html.DisplayFor(model => model.TimeOfDay)
            </td>
        </tr>
        <tr>
            <td>
                Flight Time
            </td>
            <td>
                @Html.DisplayFor(model => model.FlightTime)
            </td>
        </tr>
        <tr>
            <td>
                Flight Distance
            </td>
            <td>
                @Html.DisplayFor(model => model.FlightDistance)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Active)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
        </tr>
    </table>
    <br />
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <b style="color:#000000">| </b><input type="submit" value="Confirm Delete" class="btn btn-danger" /><b style="color:#000000"> | </b>
            <input type="submit" asp-action="Index" value="Back to List" class="btn btn-success" /><b style="color:#000000"> |</b>
        </div>
    </form>
</div>
