@model YouFlyModels.Route

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromAirportId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromAirportId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToAirportId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToAirportId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstClassSeatCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstClassSeatCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessClassSeatCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessClassSeatCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstClassCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstClassCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessClassCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessClassCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightDistance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightDistance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
