@model YouFlyModels.Route
@{
    ViewData["Title"] = "Edit Route";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <h1 style="color:#000000"><b>Edit Route</b></h1>
    </div>
</div>
<div class="jumbotron">
    <div class="panel-heading">
        <form asp-action="Edit">
            <div class="form-horizontal">
                <hr style="height: 3px;color: #27aae1;background: #27aae1;" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FromAirportId" style="color:#000000" class="col-md-2 control-label">From IATA Code</label>
                    <div class="col-md-10">
                        <input asp-for="FromAirportId" class="form-control" required />
                        <span asp-validation-for="FromAirportId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ToAirportId" style="color:#000000" class="col-md-2 control-label"> To IATA Code</label>
                    <div class="col-md-10">
                        <input asp-for="ToAirportId" class="form-control" required maxlength="3"/>
                        <span asp-validation-for="ToAirportId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstClassSeatCount" style="color:#000000" class="col-md-2 control-label">First Class Seat Count</label>
                    <div class="col-md-10">
                        <input asp-for="FirstClassSeatCount" class="form-control" required maxlength="3"/>
                        <span asp-validation-for="FirstClassSeatCount" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BusinessClassSeatCount" style="color:#000000" class="col-md-2 control-label">Business Class Seat Count</label>
                    <div class="col-md-10">
                        <input asp-for="BusinessClassSeatCount" class="form-control" />
                        <span asp-validation-for="BusinessClassSeatCount" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DayOfWeek" style="color:#000000" class="col-md-2 control-label">Day of Week</label>
                    <div class="col-md-10">
                        <input asp-for="DayOfWeek" class="form-control" required maxlength="3"/>
                        <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TimeOfDay" style="color:#000000" class="col-md-2 control-label">Time of Day</label>
                    <div class="col-md-10">
                        <input asp-for="TimeOfDay" class="form-control" required maxlength="2"/>
                        <span asp-validation-for="TimeOfDay" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="Active" />
                        <strong><label style="color:#000000" asp-for="Active"></label></strong>
                    </div>
                </div>
                <hr style="height: 3px;color: #27aae1;background: #27aae1;" />
            </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <b style="color:#000000">| </b><a style="color:white" class="btn btn-success" asp-action="Index">Back to List</a><b style="color:#000000"> |</b>
                <input type="submit" value="Save" class="btn btn-primary" /><b style="color:#000000"> |</b>
            </div>
        </div>
       </form>
    </div>
</div>
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
