@model IEnumerable<YouFlyModels.Route>
@{
    ViewData["Title"] = "Route List";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <p>
            <a style="color:red" span class="glyphicon glyphicon-pencil" asp-action="Create"></a><b style="color:#000000"> Create New Route</b>
        </p>
    </div>
</div>
<hr style="height: 3px;color: #27aae1;background: #27aae1;" />
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <strong style="color:#000000">Existing Route Information</strong>
    </div>
</div>
<table class="table">
    <thead style="color:#27aae1">
        <tr>
            <th>
                From IATA Code
            </th>
            <th>
                To IATA Code
            </th>
            <th>
                No. First Class Seats
            </th>
            <th>
                No. Business Class Seats
            </th>
            <th>
                First Class Price (USD)
            </th>
            <th>
                Business Class Price (USD)
            </th>
            <th>
                Day of Week
            </th>
            <th>
                Departure Time
            </th>
            <th>
                Flight Length (Hours)
            </th>
            <th>
                Flight Distance (Miles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAirportId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAirportId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstClassSeatCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessClassSeatCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstClassCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessClassCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>

                <td>
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> <small> Edit</small>
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span><small> Delete</small>
                            </button>
                        </a>
                    </p>

                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
