@model IEnumerable<YouFlyModels.Purchase>
@{
    ViewData["Title"] = "Purchases";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container logo-nav">
            <img class="logo" alt="Brand" src="http://i64.tinypic.com/2j0jvwp.jpg">
        </div>
        <h1 style="color:#000000"><b>Purchases</b></h1>
    </div>
</div>
<hr style="height: 3px;color: #27aae1;background: #27aae1;" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Confirmation Number
            </th>
            <th>
                Flight Date
            </th>
            <th>
                Route ID
            </th>
            <th>
                Customer Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    YF @Html.DisplayFor(modelItem => item.ConfirmationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
            </tr>
        }
    </tbody>
</table>
